*{
	margin: 0px;
	padding: 0px;


}



.ht{
	background: #750000;
}



.Abody{
	margin-top: 150px;
	width: 1300px;
	

	font-size: 120%;
	background: #750000;

}

.Aheader{
	width: 30%;
	margin: 50px auto 0px;
	font-family: 'Georgia';
	color: black;
	background: white;
	
	border: 2px solid black;
	border-right: none;
	border-left: none;
	border-top: none;
	
	border-radius: 10px 10px 0px 0px ;
	padding: 20px;
}




.Aform{

	width: 30%;
	margin:0px auto;
	padding: 20px;
	border: 2px solid black;
	background: white;
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-radius: 0px 0px 10px 10px;

}


.input-groupA{
	margin: 10px 0px 10px 0px;
}

.input-groupA label{
	display: block;
	text-align: left;
	margin: 3px;
	font-family: 'Georgia';
	font-size:20px;


}

.input-groupA input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border:2px solid grey;

}

.btnA{

	padding: 10px;
	font-size: 15px;
	color: black;
	background: white;
	border:2px solid darkred;
	border-radius: 10px;
	margin :0 50% 0 40%;




}

.error{

	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border:1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
	
}